{% extends 'Base/base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<script>
  Swal.fire({
    "title": "Informacion Sistema",
    "text": "{{message}}",
    "icon": "{{message.tags}}"
  })
</script>
{% endfor %}
{% endif %}
<a href="{% url 'NuevoUser' %}" class="btn btn-info">Nuevo Usuario</a>

<a href="{% url 'ListaUser' %}" class="btn btn-warning"> Usuarios Activos</a>
<div class="col-12">
  <div class="card my-4">
<div class="container-fluid py-4">
    <div class="card-box mb-30"><br>
    <h4 align="center" class="text-primary">LISTADO DE USUARIOS</h4>
    <br>
    <table class="table table-hover table-bordered table-sm">
      <thead align="center">
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Nombres de Usuario</th>
          <th scope="col">Rol de Sistema</th>
          <th scope="col">Acceso a Panel</th>
          <th scope="col">Privilegios Super Usuario</th>
          <th scope="col">Activo</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody align="center">
        {% for u in usuarios %}
        <tr>
          <th scope="row">{{u.username}}</th>
          <td>{{u.first_name}} {{u.last_name}}</td>
          <td>{{u.rol}}</td>
          {% if u.is_staff == True %}
          <td class="table-success">Si</td>
          {% else %}
          <td class="table-danger">No</td>
          {% endif %}
          {% if u.is_superuser == True %}
          <td class="table-success">Si</td>
          {% else %}
          <td class="table-danger">No</td>
          {% endif %}
          {% if u.is_active == True %}
          <td class="table-success">Si</td>
          {% else %}
          <td class="table-danger">No</td>
          {% endif %}
          <td>
            <a class="btn btn-success btn-m" title="Modificar" type="button"
              href="{% url 'UpdateUser' u.username %}"><i class="mdi mdi-grease-pencil" aria-hidden="true">Modificar</i></a>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}